<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecureNotesApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SecureNotesApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="container mt-3">
            <div class="custom-navbar d-flex justify-content-between align-items-center">
                <div class="nav-brand d-flex align-items-center">
                    <i class="fas fa-sticky-note text-warning fs-4 me-2"></i>
                    <span class="fw-bold text-dark fs-5">QUẢN LÝ GHI CHÚ</span>
                </div>

                <div class="nav-menu d-flex align-items-center">
                    <a href="/Notes/Index" class="nav-item active">
                        <i class="fa-solid fa-clipboard me-1"></i> All notes
                    </a>

                    <a href="/Notes/Dashboard" class="nav-item">
                        <i class="fa-solid fa-chart-line me-1"></i> Dashboard
                    </a>
                    <a href="#" class="nav-item">
                        <i class="fas fa-user me-1"></i> Tài khoản
                    </a>
                    <a href="#" class="nav-item">
                        <i class="fas fa-calendar-check me-1"></i> Tasks
                    </a>
                </div>

                <div class="nav-action">
                    <a href="/Notes/Create" class="btn btn-primary btn-add-note">
                        <i class="fas fa-plus me-1"></i> Thêm Note
                    </a>
                </div>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - SecureNotesApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
